include LICENSE Makefile README.md HISTORY.md requirements.txt

recursive-include xicor/tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
